<html>
<head>
  <title>cjthomp.github.io</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-XNRTCesHENaXoVVjLx3Vm0rmwmS4W2g5w0xwZQIDPDvT4IDa/HRIvwb8CoH7/JPW" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>

  <div id="app">

    <custom-navbar
      @tab-changed="selectTab"
    ></custom-navbar>

    <div class="tab-content" id="nav-tabContent">
      
      <div class="tab-pane fade show active" id="home" ref="panel-home" role="tabpanel" aria-labelledby="tab-home" v-if="selected=='home'">
        
        <div class="container-fluid">

          <div class="row hero">

            <div class="col-md-10 col-md-offset-1 hero-title">
              CJ Thompson<br>
              cjthomp.github.io
            </div>

          </div>

        </div>

        <div class="container">

          <div class="row">

            <div class="col">&nbsp;</div>

            <div class="col-6">

              <h1>Hire Me</h1>

              <p>
                plz
              </p>

            </div>

            <div class="col">&nbsp;</div>

          </div>

        </div>
      </div>

      <div class="tab-pane fade show active" id="portfolio" ref="panel-portfolio" role="tabpanel" aria-labelledby="tab-portfolio" v-if="selected=='portfolio'">
        
        <div class="container-fluid">

          <div class="row">&nbsp;</div>

          <div class="row">

            <div class="col-md-10 col-md-offset-1">
              portfolio
            </div>

          </div>

        </div>
      </div>

      <div class="tab-pane fade show active" id="blog" ref="panel-blog" role="tabpanel" aria-labelledby="tab-blog" v-if="selected=='blog'">
        
        <div class="container-fluid">

          <div class="row">&nbsp;</div>

          <div class="row">

            <custom-blog class="col-md-10 col-md-offset-1"></custom-blog>  

          </div>

        </div>
      </div>

      <div class="tab-pane fade show active" id="contact" ref="panel-contact" role="tabpanel" aria-labelledby="tab-contact" v-if="selected=='contact'">
        
        <div class="container-fluid">

          <div class="row">&nbsp;</div>

          <div class="row">

            <div class="col-md-10 col-md-offset-1">
              contact
            </div>

          </div>

        </div>
      </div>

    </div>


  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.0.1/vuex.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>
